.App {
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 0.5rem;
}

header{
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.read{
  width: 98%;
  height: 85px;
  align-items: center;
  margin: 0.25rem auto;
  border-radius: 0.5rem;
  border: solid rgb(6, 6, 134) 1.25px;
}

#food{
  margin: 0.2rem;
  float: left;
}

#final_date{
  float: left;
  margin-left: 0.2rem;
}

#present_state{
  text-align: left;
}

#read_title{
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.progress{
  margin: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#buttons{
  float: right;
  margin-right: 0.3rem;
}

.update{
  margin-top: 1.5rem;
  border: solid red 1px;  
}