.App {
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 0.5rem;
}

.read{
  width: 100%;
  height: 100px;
  align-items: center;
}

#food{
  margin: 0.2rem;
  float: left;
}

#final_date{
  float: left;
}

#present_state{
  text-align: left;
}

#read_title{
  margin-left: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border: solid red 1px;
}

.progress{
  margin: 0.3rem;
  border: solid red 1px;
}

.update{
  margin-top: 1.5rem;
  border: solid red 1px;  
}