.App {
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 0.5rem;
}

.read{
  height: 100px;
}

#food{
  margin: 0.2rem;
  float: left;
}

#final_date{
  float: left;
}

.progress{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  background-color: red;
  display: inline;
}
